* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: round(up, 1.5em, 0.5rem);
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
}

a {
  color: initial;
  font-weight: 700;
}

h1 {
  font-family: "Parisienne", cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  align-self: center;
}

subtitle {
  font-family: "Parisienne", cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  align-self: center;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

retro-board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  position: relative;
  background-position: 0 0;

  card {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    div {
      font-weight: bold;
    }

    reaction {
      position: absolute;
    }

    &:nth-child(1) {
      rotate: -3.1415deg;
    }
    &:nth-child(2) {
      rotate: 3.1415deg;
    }
    &:nth-child(3) {
      rotate: -3.1415deg;
    }
    &:nth-child(4) {
      rotate: 3.1415deg;
    }
  }

  label {
    content: "Retro Board";
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-familiy: monospace;
  }
}
