:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  padding: 1rem 1rem;
  width: 100%;
}

header {
  nav {
    display: flex;
    align-items: end;
    text-align: right;
    padding: 1rem 1rem;

    & * {
      padding: 0 0.25rem;
    }
  }
}

main {
  flex: 1;
  width: 65ch;
  max-width: 100%;
}

footer {
  padding: 3rem 0 0;
  display: flex;
  nav {
    padding: 0rem 1rem;
  }
}

blockquote {
  border: 0;
  border-left-width: 0.5rem;
  border-style: solid;
  margin: round(down, 0.25em, 0.25rem);
  margin-left: -1rem;
  margin-right: 0;
  padding: 0.25rem 0.5rem;
  text-align: right;
}

cta {
  align-self: center;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
}

main h1 {
  font-size: 6rem;
  margin-top: 4rem;
}

header h1 {
  font-size: 2rem;
  flex: 1;
  padding-left: 1rem;
  transform: translateY(10%);
}

subtitle {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: round(down, 0.25em, 0.25rem);
}

h2:not(:is(h1, h2, h3, h4, h5, h6) + *),
h3:not(:is(h1, h2, h3, h4, h5, h6) + *),
h4:not(:is(h1, h2, h3, h4, h5, h6) + *),
h5:not(:is(h1, h2, h3, h4, h5, h6) + *),
h6:not(:is(h1, h2, h3, h4, h5, h6) + *) {
  margin-top: round(down, 1.5em, 0.25rem);
}

.header-section-number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(calc(-0.75rem - 100%));
}

retro-board {
  padding: 0rem;
  margin: 1rem 0;
  width: calc(100% - 4rem);
  height: 16rem;
  background-size: 2rem 2rem;
  border-radius: 0.25rem;

  card {
    height: 9rem;
    padding: 2rem 1.5rem;
    width: 9rem;

    div {
      font-size: 1.3rem;
      line-height: 1;
    }

    reaction {
      font-size: 3rem;
      bottom: -1rem;

      &:nth-child(2) {
        right: -0.7rem;
      }

      &:nth-child(3) {
        left: -0.7rem;
      }
    }
  }

  label {
    margin: 0;
    top: 0rem;
    left: 0rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
}
